<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <servlet>
    <servlet-name>SearchService</servlet-name>
    <servlet-class>de.cr.freitonal.server.services.SearchServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>CreateService</servlet-name>
    <servlet-class>de.cr.freitonal.server.services.CreateServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>SearchService</servlet-name>
    <url-pattern>/freitonalgui/search</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>CreateService</servlet-name>
    <url-pattern>/freitonalgui/create</url-pattern>
  </servlet-mapping>
 
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>FreitonalGUI.html</welcome-file>
  </welcome-file-list>

</web-app>
